// author:储奎
// date:2017.01.18

// blue
$blue300:#4FC3F7;
$blue500:#2196F3;

// Red
$red50:#FFEBEE;
$red100:#FFCDD2;
$red200:#EF9A9A;
$red300:#E57373;
$red400:#EF5350;
$red500:#F44336;
$red600:#E53935;
$red700:#D32F2F;
$red800:#C62828;
$red900:#B71C1C;

$redA100:#FF8A80;
$redA200:#FF5252;
$redA400:#FF1744;
$redA700:#D50000;

// Pink
$pink50:#FCE4EC;
$pink100:#F8BBD0;
$pink200:#F48FB1;
$pink300:#F06292;
$pink400:#EC407A;
$pink500:#E91E63;
$pink600:#D81B60;
$pink700:#C2185B;
$pink800:#AD1457;
$pink900:#880E4F;

$pinkA100:#FF80AB;
$pinkA200:#FF4081;
$pinkA400:#F50057;
$pinkA700:#C51162;

// Purple
$purple50:#F3E5F5;
$purple100:#E1BEE7;
$purple200:#CE93D8;
$purple300:#BA68C8;
$purple400:#AB47BC;
$purple500:#9C27B0;
$purple600:#8E24AA;
$purple700:#7B1FA2;
$purple800:#6A1B9A;
$purple900:#4A148C;

$purpleA100:#EA80FC;
$purpleA200:#E040FB;
$purpleA400:#D500F9;
$purpleA700:#AA00FF;

// Green

$greenA400:#00E676;



// 字体颜色
$textColor:rgba(0,0,0,0.65);

