$modalPrefix:md-modal;
.#{$modalPrefix} {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: all 1s linear;
    top: 0;
}

.#{$modalPrefix}-hidden {
    display: none;
}

.#{$modalPrefix}-mask {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65)
}

.#{$modalPrefix}-frame {
    transition: all 1s linear;
    display: block;
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 500px;
    min-height: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #666;
    transform: scale(1, 1);
}

.#{$modalPrefix}-content {
    line-height: 1.5;
    &::after {
        content: '';
        display: block;
        zoom: 1;
        clear: both
    }
}

.#{$modalPrefix}-closer {
    position: absolute;
    padding: 0;
    right: 14px;
    top: 14px;
    width: 14px;
    height: 14px;
    i {
        font-size: 14px;
        margin: 0;
        padding: 0
    }
}

.#{$modalPrefix}-header {
    padding: 14px 16px;
    border-bottom: 1px solid #e9e9e9
}

.#{$modalPrefix}-title {
    line-height: 21px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.#{$modalPrefix}-body {
    padding: 5px 16px
}

.#{$modalPrefix}-dialog-title {
    margin-left: 14px;
}

.#{$modalPrefix}-dialog-content {
    padding: 10px 38px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
}

.#{$modalPrefix}-dialog-footer {
    float: right;
    padding: 20px 30px;
    & button {
        margin-left: 10px
    }
}

.#{$modalPrefix}-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
}

.#{$modalPrefix}-icon-confirm {
    background-color: #ffbf00;
}

.#{$modalPrefix}-icon-info {
    background-color: #108ee9;
}

.#{$modalPrefix}-icon-success {
    background-color: #00A854;
}

.#{$modalPrefix}-icon-error {
    background-color: #F04134
}

.#{$modalPrefix}-icon-warning {
    background-color: #ffbf00;
}

.#{$modalPrefix}-icon-info {
    background-color: #108ee9;
}

.#{$modalPrefix}-icon-info {
    background-color: #108ee9;
}

.#{$modalPrefix}-dialog-body {
    padding: 20px 30px 0;
    i {
        float: left
    }
}