@import "../../style/themes/default";
@import "../../style/mixins/index";
$formPrefix:md-form;
.#{$formPrefix} {
    &-explain,
    .has-error {
        color: $error-color
    }
    .has-error .md-input {
        border-color: $error-color
    }
    &-explain {
        line-height: $line-height-base;
    }
    .login-form-button {
        width: 100%;
    }
    &-item-control {
        line-height: 32px;
        position: relative;
        zoom: 1;
    }
    &-item {
        font-size: $font-size-base;
        margin-bottom: 24px;
        color: $text-color;
        vertical-align: top;
    }
    &-item-with-help {
        margin-bottom: 6px;
    }
}