@import '../../style/themes/default';
$input-prefix:md-input;
.#{$input-prefix} {
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    width: 100%;
    height: 28px;
    cursor: text;
    font-size: $font-size-base;
    line-height: 1.5;
    color: $text-color;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
    outline: none;
    &:hover {
        border-color: $border-color500
    }
    &:active {
        border-color: $border-color500;
    }
    &-hasPreLabel {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }
    &-hasSufLabel {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }
    &-hasIcon {
        padding: 0 24px 0 24px;
    }
    &-prefixIcon,
    &-prefixLabel,
    &-suffixLabel {
        width: 1px;
    }
    &-prefixIcon,
    &-suffixIcon {
        position: absolute;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
    }
    &-prefixIcon {
        left: 7px
    }
    &-suffixIcon {
        right: 7px;
    }
    &-prefixLabel,
    &-suffixLabel {
        background-color: $background-color-base;
        border-radius: $border-radius-base 0 0 $border-radius-base;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        padding: 4px 7px;
        border: 1px solid #d9d9d9;
    }
    &-prefixLabel {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }
    &-suffixLabel {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }
    &-labelGroup,
    &-iconGroup {
        display: table;
        position: relative;
        width: 100%;
        .#{$input-prefix},
        .#{$input-prefix}-prefixIcon,
        .#{$input-prefix}-suffixIcon,
        {
            display: table-cell
        }
    }
    &-iconGroup {
        .#{$input-prefix}-prefixIcon {
            width: auto
        }
    }
    &-labelGroup {
        .#{$input-prefix},
        .#{$input-prefix}-prefixLabel,
        .#{$input-prefix}-suffixLabel,
        {
            display: table-cell
        }
    }
}